@import './base.css';

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(29, 82%, 49%, 0.2);
    border-radius: 7px;
  }
}
h2 {
  color: #da7618;
  font-weight: bold;
}
label {
  color: #da7618;
}
